@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

*{
    box-sizing: border-box;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

@theme {
    --breakpoint-xs: 30rem;
}

@layer base{
    html{
        @apply
        bg-gradient-to-r from-slate-200 from-10% to-slate-300 to-90%
        dark:bg-gradient-to-r dark:from-slate-900 dark:from-10% dark:to-slate-800 dark:to-90%
        dark:bg-slate-950 bg-white;
    }
}

body{
    font-family: 'Raleway', sans-serif;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

body::before{
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('assets/noise2.png');
    z-index: -2;
    pointer-events: none;
}

@layer components{
    .tag {
        @apply inline-block px-2 sm:px-4 sm:py-1 text-xs md:font-semibold border rounded-lg cursor-default dark:text-slate-50 text-slate-900;
    }

    .subOpciones {
        @apply inline-block text-xs sm:text-sm md:text-base px-4 mx-2 rounded-lg cursor-pointer;
    }

    .circle{
        @apply w-[50%] h-[80%] border rounded-full absolute -z-5 blur-[120px] opacity-80;
    }

    .c1{
        @apply -bottom-[20%] -right-[10%];
    }

    .c2{
        @apply top-0 left-[30%];
    }

    .c3{
        @apply -left-[20%] -bottom-[10%];
    }


}

.tagVertical p {
    background-color: black;
    writing-mode: vertical-rl; /* Texto vertical, letras apiladas */
    text-orientation: mixed;  /* Mantiene la orientación natural de las letras */
    margin: 0;                /* Elimina márgenes por defecto */
    letter-spacing: 2px;      /* Espaciado opcional entre letras */
}